body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: sans-serif;
    background-color: #2B738C;
}

#divisoreLogin{
    width: 500px;
    background-color: #0A1A1F;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    
}

.hidden{
    display: none;
}

.scelta{
    background-color: #2B738C;
    width: 100%;
    color: white;
    font-size: large;
    padding: 10px;
    border: 0;
}

.color{
    background-color: #14343E;
}

.scelta:hover{
    background-color: #14343E;
}

label{
    margin-bottom: 10px;
}


.input{
    background-color: #0A1A1F;
    border-color: #2B738C;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.otpBlocks{
    background-color: #0A1A1F;
    border-color: #2B738C;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    text-align: center;
    height: 100%;
    font-size: x-large;
}

img{
    width: 460px;
}

#LogPswEye, #RegPswEye{
    background-size: cover;
    position: absolute;
    width: 47.56px;
    right: 40px;
    padding: 5px;
}
#LogPswEye:hover, #RegPswEye:hover{
    cursor: pointer;
}

#barbatrucco{
    pointer-events: none;
}
