body{
    background-color: #2B738C;
    height: 80vh;
    margin: 10px;
}

#richieste{
    width: 282px;
    background-color: #0A1A1F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}