.contatto{
    background-color: #2B738C;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    border-radius: 20px;
}

.imgProfilo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 15px;
}

.imgProfilo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.informazioniContatto{
    display: inline-block;
    vertical-align: top;
}

.btn{
    background-color: #14343E;
    color: white;
    font-size: large;
    padding: 10px;
    border: 0;
    width: 100%;
    border-radius: 10px;
}
.btn:hover{
    background-color: #0A1A1F;
    color: white;
    cursor: pointer;
}