header{
    background-color: #0A1A1F;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.text {
    flex-grow: 1; /* Fai espandere il testo per riempire lo spazio disponibile */
    text-align: center; /* Allinea il testo al centro */
}

img, #logout{
    width: 50px;
    height: 50px;
}

#logout{
    background-image: url("/webchat/IMG/logout.png");
    background-size: cover;
    background-color: transparent;
    border: 0;
}

img:hover, #logout:hover{
    cursor: pointer;
}

.titolo {
    display: flex; /* Utilizza il layout flexbox */
    align-items: center; /* Allinea verticalmente al centro */
    height: 70px; /* Altezza del div */
    padding: 0 20px; /* Padding per spaziatura */
}

.contenitore {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
  
.immagine {
    width: 100%;
    height: auto;
    margin: 0;
}
  
.cerchio {
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* per fare il cerchio */

    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center;

    background-color: rgb(255, 0, 0);
    border-width: 2px;
}

.cerchio p{
    margin: 0;
    font-weight: bold;
}
  
