body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Imposta l'altezza minima del body pari all'altezza della viewport */
    margin: 0;
}

footer{
    background-color: #0A1A1F;
    color: white;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

footer p{
    margin: 0;
}