.contatto{
    background-color: #2B738C;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.contatto:hover{
    background-color: #0A1A1F;
    cursor: pointer;
}

.imgProfilo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.imgProfilo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.informazioniContatto{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 20px;
}