.contatto{
    background-color: #2B738C;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    width: auto;
    border-radius: 20px;
}

.imgProfilo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
}

.imgProfilo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.informazioniContatto{
    display: inline-block;
    vertical-align: top;
    height: 100px;
}

.informazioniContatto p{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    width: 100%;
}

.divs{
    height: 50px;
    width: 50px;
}


#accetta{
    background-image: url("../../IMG/accept.png");
}
#accetta:hover{
    background-color: #0A1A1F;
    cursor: pointer;
}

#rifiuta{
    background-image: url("../../IMG/deny.png");
}
#rifiuta:hover{
    background-color: #0A1A1F;
    cursor: pointer;
}

#accetta, #rifiuta{
    background-size: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 0;
}


#errore{
    color: red;
    margin-bottom: 0;
    text-align: center;
}



