body{
    background-color: #2B738C;
    height: 80vh;
    margin: 10px;
    
}

.centrato {
    background-color: #0A1A1F;
    color: white;
    width: 400px; /* Imposta la larghezza desiderata */
    height: auto; /* Imposta l'altezza desiderata */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scelta{
    background-color: #2B738C;
    width: 100%;
    color: white;
    font-size: large;
    padding: 10px;
    border: 0;
}

.scelta:hover{
    background-color: #14343E;
}

.input{
    background-color: #0A1A1F;
    border-color: #2B738C;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}