body{
    background-color: #2B738C;
    height: 78vh;
}

/*INSIEME DEI DIV CONTATTI E CHAT*/
#contattiChat{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
   /* max-height: 1073px; barbatrucco*/
}

/*DIV CONTATTI SX*/
#bottoni{
    background-color: #14343E;
}
#contatti{
    margin: 0;
    margin-right : 10px;
    background-color: #14343E;
    color: white;
    padding-right: 10px;
    min-height: calc(100% - 135px);
    max-height: 0px;
    
    
    overflow: auto;
}
.col{
    padding: 0;
}

/*DIV CHAT DX*/
#divDestra{
    height: 100%;
}

.chat{
    overflow: auto;
    background-color: #14343E;
    color: white;

    min-height: calc(100% - 142px); /*BARBATRUCCO*/
    max-height: 0px;
}

#alert{
    width: 500px;
    position: absolute;
}
#alert h1{
    text-align: center;
}





/*PARTE SUPERIORE DIV CHAT*/
.infContatto{
    width: 100%;
    background-color: #14343E;
}
.infContatto p{
    color: white;
}

/*PARTE INFERIORE DIV CHAT*/
.invioMessaggio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 20px;
    background-color: #14343E;


    width: 100%;
}
.invioMessaggio img{
    margin: 0;
}


.btns{
    background-color: transparent;
    background-size: contain;

    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0;
    /*DA SISTEMARE IL FATTO CHE LE IMMAGINI VENGONO TAGLIATE*/
}
.btns img{
    padding: 5px;
}
.btns:hover{
    background-color: #2B738C;
}


/*TBOX MESSAGGIO*/
.input{
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #0A1A1F;
    border-color: #2B738C;
    color: white;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 20px;
}

/*BOTTONI NUOVA CHAT, NUOVO GRUPPO*/
.btn{
    background-color: #2B738C;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border: 0;
    width: 100%;

}
.btn:hover{
    background-color: #0A1A1F;
    color: white;
}


/* Personalizzazione della barra di scorrimento per i browser WebKit (Google Chrome, Safari, etc.) */
.chat::-webkit-scrollbar, #contatti::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

.chat::-webkit-scrollbar-thumb, #contatti::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.chat::-webkit-scrollbar-thumb:hover, #contatti::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chat::-webkit-scrollbar-track, #contatti::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}



