#errore {
    position: absolute;
    top: 20px; /* Margine superiore incluso qui */
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    animation: fadeIn 1s forwards, fadeOut 1s 3s forwards;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible; /* Rendere visibile all'inizio dell'animazione */
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden; /* Nascondere alla fine dell'animazione */
    }
}

#errore p{
    margin: 0;
}