#btnContatto{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #2B738C;
    border: 0;
    border-radius: 20px;
    margin-bottom: 10px;
}
#btnContatto:hover{
    background-color: #0A1A1F;
    cursor: pointer;
    color: white;
}

.imgProfilo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    
    margin-right: 20px;
}

.imgProfilo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.informazioniContatto{
    display: inline-block;
    vertical-align: top;
}

