#blocco{
    background-color: #0A1A1F;
    border-radius: 20px;
    padding: 15px;
    max-width: 30%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: white;
}

.divSx{
    display: flex;
    justify-content: left;
}   

.divDx{
    display: flex;
    justify-content: right;
}

#blocco p{
    font-size: 16px;
    margin: 0;
}

hr{
    margin-top: 5;
}
