body{
    background-color: #2B738C;
    height: 80vh;
}

#amici{
    width: 274.93px;
    background-color: #0A1A1F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

strong{
    color: white;
}

#titolo{
    width: 100%;
    align-items: center;
}